<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
  <script>
    $(document).ready(function(){
    function submitToAPI(e) {
         e.preventDefault();
         var URL = "https://6urxe2yiti.execute-api.ca-central-1.amazonaws.com/Production/contact-us";
  
              var Namere = /[A-Za-z]{1}[A-Za-z]/;
              if (!Namere.test($("#name-input").val())) {
                           alert ("Name can not less than 2 char");
                  return;
              }
              var mobilere = /[0-9]{10}/;
              if (!mobilere.test($("#phone-input").val())) {
                  alert ("Please enter valid mobile number");
                  return;
              }
              if ($("#email-input").val()=="") {
                  alert ("Please enter your email id");
                  return;
              }
  
              var reeamil = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,6})?$/;
              if (!reeamil.test($("#email-input").val())) {
                  alert ("Please enter valid email address");
                  return;
              }
  
         var name = $("#name-input").val();
         var phone = $("#phone-input").val();
         var email = $("#email-input").val();
         var desc = $("#description-input").val();
         var data = {
            name : name,
            phone : phone,
            email : email,
            desc : desc
          };
  
         $.ajax({
           type: "POST",
           url : "https://6urxe2yiti.execute-api.ca-central-1.amazonaws.com/Production/contact-us",
           dataType: "json",
           crossDomain: "true",
           contentType: "application/json; charset=utf-8",
           data: JSON.stringify(data),
  
           
           success: function () {
             // clear form and show a success message
             alert("Successfull");
             document.getElementById("contact-form").reset();
         location.reload();
           },
           error: function () {
             // show an error message
             alert("UnSuccessfull");
           }});
       }
    });
  </script>
</head> 



<!-- Replace the email with your own formspree email -->
<!-- <form action="https://formspree.io/{{ site.formspree_email }}" method="POST" > -->
  <!-- <form
  action="https://formspree.io/f/xyybabqr"
  method="POST"
>
    <div class="form-group">
      <label for="contact_form_name">Your Name :</label>
      <input type="text" class="form-control" name="name" id="contact_form_name" placeholder="Enter Your Name">
     </div>
     <div class="form-group">
       <label for="contact_form_email">Your Email :</label>
      <input type="email" class="form-control" name="_replyto" id="contact_form_email" placeholder="Enter Your Email">
     </div>
     <div class="form-group">
       <label for="contact_form_message"> Your Message :</label>
      <textarea name="_message" class="form-control" id="contact_form_message" placeholder="Enter Your Message"></textarea>
     </div>
      <button type="submit" value="Send" class="btn btn-lg btn-dark">Submit</button>
 </form> -->
<h1>Header</h1>
 <form id="contact-form" method="post">
  <h4>Name:</h4>
  <input type="text" style="height:35px;" id="name-input" placeholder="Enter name here…" class="form-control" style="width:100%;" /><br/>
  <h4>Phone:</h4>
  <input type="phone" style="height:35px;" id="phone-input" placeholder="Enter phone number" class="form-control" style="width:100%;"/><br/>
  <h4>Email:</h4>
  <input type="email" style="height:35px;" id="email-input" placeholder="Enter email here…" class="form-control" style="width:100%;"/><br/>
  <h4>How can we help you?</h4>
  <textarea id="description-input" rows="3" placeholder="Enter your message…" class="form-control" style="width:100%;"></textarea><br/>
  <div class="g-recaptcha" data-sitekey="6Lc7cVMUAAAAAM1yxf64wrmO8gvi8A1oQ_ead1ys" class="form-control" style="width:100%;"></div>
  <button type="button" onClick="submitToAPI(event)" style="margin-top:20px;">Submit</button>
</form>

