
<!-- Replace the email with your own formspree email -->
<!-- <form action="https://formspree.io/{{ site.formspree_email }}" method="POST" > -->
  <!-- <form
  action="https://formspree.io/f/xyybabqr"
  method="POST"
>
    <div class="form-group">
      <label for="contact_form_name">Your Name :</label>
      <input type="text" class="form-control" name="name" id="contact_form_name" placeholder="Enter Your Name">
     </div>
     <div class="form-group">
       <label for="contact_form_email">Your Email :</label>
      <input type="email" class="form-control" name="_replyto" id="contact_form_email" placeholder="Enter Your Email">
     </div>
     <div class="form-group">
       <label for="contact_form_message"> Your Message :</label>
      <textarea name="_message" class="form-control" id="contact_form_message" placeholder="Enter Your Message"></textarea>
     </div>
      <button type="submit" value="Send" class="btn btn-lg btn-dark">Submit</button>
 </form> -->
 <body> 
 <!-- <form id="contact-form" action="https://6urxe2yiti.execute-api.ca-central-1.amazonaws.com/Production/reCaptcha" method="post">
  <h4>Name:</h4>
  <input type="text" style="height:35px;" id="name" placeholder="Enter name here…" class="form-control" style="width:100%;" na/><br/>
  <p id="name-error" style="color:red;">Error in name input</p>
  <h4>Phone:</h4>
  <input type="phone" style="height:35px;" id="phone-input" placeholder="Enter phone number" class="form-control" style="width:100%;"/><br/>
  <h4>Email:</h4>
  <input type="email" style="height:35px;" id="email-input" placeholder="Enter email here…" class="form-control" style="width:100%;"/><br/>
  <h4>How can we help you?</h4>
  <textarea id="description-input" rows="3" placeholder="Enter your message…" class="form-control" style="width:100%;"></textarea><br/>
  <div class="g-recaptcha" data-sitekey="6LcOwmEaAAAAAANvvcUeSd9kXtDnHNbG2onXmgfr" class="form-control" style="width:100%;" data-callback="ccb"></div>
  <button type="button" onClick="submitToAPI(event)" disabled class="btn btn-lg btn-dark" id="category-btn" style="margin-top:20px;">Submit</button>
</form> -->

<form id="contact"  action="https://6urxe2yiti.execute-api.ca-central-1.amazonaws.com/Production/reCaptcha" method="post" enctype="application/json">
  <p><input id="name" tabindex="1" name="name" required="" type="text" autofocus="" placeholder="Your name" size="40"/></p>
  <p><input tabindex="2" name="email" required="" type="email" placeholder="Email address" size="40" /></p>
  <p><textarea id="comment" name="comment" tabindex="3" required="" placeholder="Type your comment here" rows="4" cols="40"></textarea></p>
  <div class="g-recaptcha" data-sitekey="6LcOwmEaAAAAAANvvcUeSd9kXtDnHNbG2onXmgfr" class="form-control" style="width:100%;" data-callback="ccb"></div>
  <button id="contact-submit" disabled name="submit" type="submit" data-submit="...Sending">Submit</button>  </form>

<script>
  function ccb(response) {
  document.getElementById("category-btn").disabled = false;
  }
</script>
</body>



